{extend name="layout/user" /}


{block name="main"}
<link href="__STATIC__/font-awesome/css/font-awesome.min.css?page=index" rel="stylesheet" type="text/css">
<link href="__STATIC__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
<script src="__STATIC__/js/bootstrap-datetimepicker.js"></script>

<div class="all-box">
  <div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
      <li {eq name="url_path" value="share/index"}class="active"{/eq}><a href="{:url('share/index')}">今日收益</a></li>
      <li {eq name="url_path" value="share/record"}class="active"{/eq}><a href="{:url('share/record')}">财务记录</a></li>
      <li {eq name="url_path" value="share/withdraw"}class="active"{/eq}><a href="{:url('share/withdraw')}">提现记录</a></li>
    </ul>
    <fieldset>
      <div class="tabbable">
        <div class="tab-content">

          <div class="tab-pane active">
            <form class="well form-inline margin-top-20">
              <a onclick="tixianadd()" style="color: #333;"><b>账户余额：{$amount}</b></a>
              &nbsp;|&nbsp;&nbsp;累计提现：{$money} 元
              &nbsp;|&nbsp;&nbsp;<a onclick="shiming()"
                                    style="color: #333;text-decoration: none;">实名认证</a>
              &nbsp;|&nbsp;&nbsp;<a onclick="tixianadd()"
                                    style="color: #333;text-decoration: none;">申请提现</a>
            </form>

            <table class="table table-hover table-bordered">
              <thead>
              <tr>
                <th>ID</th>
                <th>提现金额</th>
                <th>支付宝账号</th>
                <th>支付宝姓名</th>
                <th>状态</th>
                <th>提现时间</th>
              </tr>
              </thead>
              <tbody>
                {volist name="list" id="vo"}
                <tr>
                  <td>{$vo.id}</td>
                  <td>{$vo.money} ￥</td>
                  <td>{$vo.alipay_account}</td>
                  <td>{$vo.alipay_name}</td>
                  <td>
                    {eq name="$vo.status" value="1"}
                    <span class="label label-success">提现成功</span>
                    {else/}
                    <span class="label label-info">等待处理</span>
                    {/eq}
                  </td>
                  <td>{$vo.create_time|date="Y-m-d H:i"}</td>
                </tr>
                {/volist}
              </tbody>
            </table>

            <div class="pg">
              {$list|raw}
            </div>

          </div>


        </div>
      </div>
    </fieldset>
  </div>
</div>

<script>
  function tixianadd() {
    if (window.screen.width < 768) {
      var w = '95%';
    }
    else {
      var w = '450px';
    }
    layer.open({
      type: 2,
      shadeClose: true,
      title: "申请提现",
      area: [w, '380px'], // 宽高
      content: "/user/withdraw",
      end: function () {
        //location.reload();
      },
    });
  }

  function shiming() {
    if (window.screen.width < 768) {
      var w = '95%';
    }
    else {
      var w = '480px';
    }

    layer.open({
      type: 2,
      shadeClose: true,
      title: "实名认证",
      area: [w, '300px'], // 宽高
      content: "/user/auth",
      end: function () {
        //location.reload();
      },
    });
  }
</script>
{/block}