<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$Think.config.basic.site_name}</title>
    <meta name="keywords" content="{$Think.config.basic.site_keywords}">
    <meta name="description" content="{$Think.config.basic.site_desc}">
    <link rel="stylesheet" href="__STATIC__/static/index/css/index.css">
    <link href="__STATIC__/static/index/css/icon-style.css" rel="stylesheet">
    <link href="__STATIC__/static/index/css/common-style.css" rel="stylesheet">
    <link href="__STATIC__/static/index/css/share-style.css" rel="stylesheet">
    <link href="__STATIC__/static/index/css/vendor.css" rel="stylesheet">
    <link href="__STATIC__/static/index/css/login.css" rel="stylesheet">
    {$Think.config.basic.site_head|raw}
</head>

<body class="body-login wrapper-login body-login-activity">

<div id="header" class="header header-login home-header theme-blue" style="display: block;">
    <div class="clearfix">
        <h1 class="logo logo-st pull-left ml50">
            <a style="background: url({$Think.config.basic.site_logo}) no-repeat 50% 50%;" href="/" title="盛天云盘"></a>
        </h1>

        <div class="js-nav pull-left nav ml50">
            <a data-route="index" href="/" class="active">首页</a>
            <a data-route="download" href="{:url('user/login')}">下载</a>
        </div>

        <div class="divider pull-right "></div>
        <div class="pull-right link-wrap mr20">
            <a data-dssp="页头 会员中心" href="{:url('user/login')}" class="text link" target="_blank">
                <i class="icon icon-home-header-vip"></i>
                <span>会员中心</span>
            </a>
        </div>
    </div>
</div>

<div class="main-login container-login main-activity-twelve">
    <div class="container">
        <div class="wrap-activity-in">
            <div class="js-activity-in">
                <a href="{:url('user/login')}"
                                           style="background-image: url('__STATIC__/static/index/img/login_top_20210903.png')"
                                           target="_blank" class="activity-in-login"></a>
            </div>
        </div>
        <div class="wrap-inset">
            <div class="js-box">
                <div class="box pull-right" style=" box-sizing: border-box; ">
                    <div class="box-logo">
                        <p>帐号密码登录</p>
                    </div>
                    <div class="box-hd">
                    </div>
                    <div class="box-bd">
                        <div class="box-block" id="js-login">
                            <div class="y2" style="font-size: 19px;color: #0574ff;  ">1，免费注册<br>2，上传文件<br>3，分享链接</div>
                            <a href="{:url('user/login')}" class="mt8 _btn btn-default btn-lg btn-block" style="margin: 30px 0;">
                                登录
                            </a>
                            <a href="{:url('user/login')}" class="mt8 _btn btn-default btn-lg btn-block" style="margin: 30px 0;">
                                注册
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c"></div>
    </div>
    <div class="u1"></div>
    <ul class="wrap-intro" style=" box-sizing: border-box; margin: 0 auto;">
        <li>
            <div class="pic pic-intro-1"></div>
            <p class="title">安全可靠</p>
            <p class="desc">多副本部署，并加密存储和传输，保障数据安全可靠</p>
        </li>
        <li>
            <div class="pic pic-intro-2"></div>
            <p class="title">极速传输</p>
            <p class="desc">多地专线加速，上传下载尊享极速传输</p>
        </li>
        <li>
            <div class="pic pic-intro-3"></div>
            <p class="title">高效云下载</p>
            <p class="desc">云端专用服务器代理下载，告别挂机等待</p>
        </li>
        <li>
            <div class="pic pic-intro-4"></div>
            <p class="title">高清云预览</p>
            <p class="desc">随时随地访问视频、照片、文档，免下载即时检阅</p>
        </li>
        <li>
            <div class="pic pic-intro-5"></div>
            <p class="title">超大空间</p>
            <p class="desc">最高可达6T的会员专享空间，支持任性扩容</p>
        </li>
    </ul>
</div>
</div>
<div class="u">
    <div class="u3">
        <div class="m1">网盘用高效说话...</div>
        <div class="m2">分享文件地址永久有效，不必担心过期而经常更换链接，帮您节省繁琐步骤，把时间用到有价值的地方去。
        </div>
    </div>
    <div class="u2">
        <div class="u5"></div>
    </div>
</div>
<div class="c"></div>
<div class="v3">
    <div class="h3">
        <div class="v4">体验真正的云加速</div>
        <div class="v6">下载无任何限制，无验证码等影响用户体验限制。</div>
        <div class="v5">在蓝奏，所有云存储、文件下载都是秒级响应。采用网众公司云计算+存储分发技术。任何网络，享受到最快的下载速度。</div>
        <div><a class="v7" href="{:url('user/login')}" target="_blank">立刻体验</a></div>
    </div>
</div>
<div class="c"></div>
<div class="h2">
    <div class="m1">我们的优势...</div>
    <div class="m2">整合各种资源为你所用，为你24小时不间断增加收入。帮你解决各种问题，节省你的时间，等于让你赚更多的钱。<br>我们对于任何大小客户同等待遇，对下载IP不做各种级别区分，都是高价。<a
            href="{:url('user/login')}" target="_blank">了解详情</a></div>
</div>
<div class="c"></div>
<div class="h1">
    <div class="m1">我们这么一群人...</div>
    <div class="m2">我们是一群有着激情的年轻人组成的团队，如果你怀才不遇无处倾诉？各类有才能之士，凡是有一技之长，赶快加入我们。
        <a href="{:url('user/login')}" target="_blank">了解详情</a></div>
</div>
<div class="c"></div>
<div class="foot">
    <div class="f5"></div>
    <div class="f1" style="margin-top: 10px;word-spacing: normal">
        <p>
            Copyright © 2018-2021 {$Think.config.basic.site_title} All rights
            reserved. 版权所有
        </p>
    </div>
</div>

<script type="text/javascript" src="__STATIC__/static/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/static/index/img/top.js"></script>
{$Think.config.basic.site_foot|raw}
</body>
</html>