@font-face {
	font-family:yunfont;
	src:url(./font/yunfont.eot?t=1610419101922?de437c);
	src:url(./font/yunfont.eot?t=1610419101922?de437c#iefix) 
	format('embedded-opentype'),url(./font/yunfont.ttf?t=1610419101922?de437c) 
	format('truetype'),url(./font/yunfont.woff?t=1610419101922?de437c) 
	format('woff'),url(./font/yunfont.svg?t=1610419101922?de437c#yunfont) format('svg');
	font-weight:400;
	font-style:normal;
}


.g-button-right{
	padding-left: 20px;
	color: #666;
	background-color: rgb(247, 247, 247);
}

.g-button-right .icon{
	height: 38px;
	width: 23px;
	line-height: 38px;
	margin-left: 5px;
	margin-top: -2px;
	font-size: 16px;
	display: inline-block;
}

.icon {
	font-family: yunfont!important;
	speak: never;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-my-share:before {
	content: "\e900"
}

.icon-disk:before {
	content: "\e901"
}

.icon-share:before {
	content: "\e902"
}

.icon-delete:before {
	content: "\e903"
}

.icon-theme:before {
	content: "\e904"
}

.icon-search:before {
	content: "\e905"
}

.icon-newfolder:before {
	content: "\e906"
}

.icon-download:before {
	content: "\e907"
}

.icon-border:before {
	content: "\e908"
}

.icon-face:before {
	content: "\e909"
}

.icon-android:before {
	content: "\e90a"
}

.icon-apple:before {
	content: "\e90b"
}

.icon-device:before {
	content: "\e90c"
}

.icon-check:before {
	content: "\e90d"
}

.icon-cancel:before {
	content: "\e90e"
}

.icon-print:before {
	content: "\e90f"
}

.icon-order:before {
	content: "\e910"
}

.icon-grid:before {
	content: "\e911"
}

.icon-right:before {
	content: "\e912"
}

.icon-more:before {
	content: "\e913"
}

.icon-copy:before {
	content: "\e914"
}

.icon-upload:before {
	content: "\e915"
}

.icon-yunguanjia:before {
	content: "\e916"
}

.icon-iPad:before {
	content: "\e917"
}

.icon-win:before {
	content: "\e918"
}

.icon-mail:before {
	content: "\e919"
}

.icon-sync:before {
	content: "\e91a"
}

.icon-share-cancel:before {
	content: "\e91b"
}

.icon-qrcode:before {
	content: "\e91c"
}

.icon-beauty:before {
	content: "\e91d"
}

.icon-edit:before {
	content: "\e91e"
}

.icon-save-disk:before {
	content: "\e91f"
}

.icon-list:before {
	content: "\e920"
}

.icon-history:before {
	content: "\e921"
}

.icon-notice:before {
	content: "\e922"
}

.icon-recovery:before {
	content: "\e923"
}

.icon-mosaic:before {
	content: "\e924"
}

.icon-speed:before {
	content: "\e925"
}

.icon-play:before {
	content: "\e926"
}

.icon-poly:before {
	content: "\e927"
}

.icon-feedback:before {
	content: "\e928"
}

.icon-search-del:before {
	content: "\e929"
}

.icon-small-lock:before {
	content: "\e92a"
}

.icon-close:before {
	content: "\e92b"
}

.icon-minimize:before {
	content: "\e92c"
}

.icon-maximizing:before {
	content: "\e92d"
}

.icon-share-community:before {
	content: "\e92e"
}

.icon-share-email:before {
	content: "\e92f"
}

.icon-share-link:before {
	content: "\e930"
}

.icon-share-friend:before {
	content: "\e931"
}

.icon-sort-select:before {
	content: "\e932"
}

.icon-dropdown-arrow:before {
	content: "\e933"
}

.icon-friendlist:before {
	content: "\e934"
}

.icon-checkgridsmall:before {
	content: "\e935"
}

.icon-mboxchate:before {
	content: "\e936"
}

.icon-checksmall:before {
	content: "\e937"
}

.icon-downtitle:before {
	content: "\e938"
}

.icon-up:before {
	content: "\e939"
}

.icon-rename-cancel:before {
	content: "\e93a"
}

.icon-circle:before {
	content: "\e93b"
}

.icon-mac:before {
	content: "\e93c"
}

.icon-musicpause:before {
	content: "\e93d"
}

.icon-musicloop:before {
	content: "\e93e"
}

.icon-musicprev:before {
	content: "\e93f"
}

.icon-musicrandom:before {
	content: "\e940"
}

.icon-musicloop2:before {
	content: "\e941"
}

.icon-musicnext:before {
	content: "\e942"
}

.icon-musicplay:before {
	content: "\e943"
}

.icon-musicvolume:before {
	content: "\e944"
}

.icon-arrow-up:before {
	content: "\e945"
}

.icon-arrow-down:before {
	content: "\e946"
}

.icon-arrow-right:before {
	content: "\e947"
}

.icon-arrow-left:before {
	content: "\e948"
}

.icon-appeal:before {
	content: "\e949"
}

.icon-radio-checked:before {
	content: "\e94a"
}

.icon-radio-non:before {
	content: "\e94b"
}

.icon-director:before {
	content: "\e94c"
}

.icon-dropdown-select:before {
	content: "\e94d"
}

.icon-tips-detail:before {
	content: "\e94e"
}

.icon-tips-success:before {
	content: "\e94f"
}

.icon-tips-close:before {
	content: "\e950"
}

.icon-tips-caution:before {
	content: "\e951"
}

.icon-imageEnlarge:before {
	content: "\e952"
}

.icon-hollowCircle:before {
	content: "\e953"
}

.icon-picpre-enlarge:before {
	content: "\e954"
}

.icon-picpre-close:before {
	content: "\e955"
}

.icon-picpre-beautify:before {
	content: "\e956"
}

.icon-picpre-delete:before {
	content: "\e957"
}

.icon-picpre-before:before {
	content: "\e958"
}

.icon-picpre-pulldown2:before {
	content: "\e959"
}

.icon-picpre-next:before {
	content: "\e95a"
}

.icon-picpre-download:before {
	content: "\e95b"
}

.icon-picpre-detail:before {
	content: "\e95c"
}

.icon-picpre-pullup:before {
	content: "\e95d"
}

.icon-picpre-rotate:before {
	content: "\e95e"
}

.icon-picpre-phone:before {
	content: "\e95f"
}

.icon-picpre-cloudprint:before {
	content: "\e960"
}

.icon-picpre-facesearch:before {
	content: "\e961"
}

.icon-remark-edit:before {
	content: "\e962"
}

.icon-remark-remove:before {
	content: "\e963"
}

.icon-camera:before {
	content: "\e964"
}

.icon-sharedir:before {
	content: "\e965"
}

.icon-sharedir-info:before {
	content: "\e966"
}

.icon-classify-modify-remove:before {
	content: "\e967"
}

.icon-setting:before {
	content: "\e968"
}

.icon-share-sellmall:before {
	content: "\e969"
}

.icon-pdf2word:before {
	content: "\e96a"
}

.icon-uniE96D:before {
	content: "\e96b"
}

.icon-uniE96E:before {
	content: "\e96c"
}

.icon-uniE96F:before {
	content: "\e96d"
}

.icon-sjck:before {
	content: "\e96e"
}

.icon-addwp:before {
	content: "\e96f"
}

.icon-wpedit:before {
	content: "\e970"
}

.icon-share-lock:before {
	content: "\e971"
}

.icon-svg-s-close:before {
	content: "\e972"
}