/* CSS Document */
body {
    font: 14px Arial, \5FAE\8F6F\96C5\9ED1, sans-serif;
    margin: auto;
    color: #3F3F3F;
}

.bgimg {
    background-image: url(../image/logo3.gif);
    background-repeat: no-repeat;
    background-position: 17px 14px;
}

a:link {
    text-decoration: none;
    color: #0099FF;
}

a:visited {
    text-decoration: none;
    color: #0099FF;
}

a:hover {
    text-decoration: none;
    color: #FF3311;
}

a:active {
    text-decoration: none;
    color: #FFFF00;
}

.dx:link {
    color: #FFFFFF;
    background-color: #0099FF;
}

.dx:hover {
    color: rgb(255, 255, 255);
    background-color: #55BBFF;
}

.d1 {
    background: #fafafa;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.05);
    position: fixed;
    top: 0;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dee9f5;
    height: 49px;
}

.d1 a:link {
    text-decoration: none;
}

.d1 a:visited {
    color: #0099FF;
    text-decoration: none;
}

.d1 a:hover {
    color: #333333;
    text-decoration: none;
}

.d1 a:active {
    text-decoration: none;
}

.d11 {
    float: left;
    background-repeat: no-repeat;
    background-position: 17px 14px;
    padding-top: 18px;
    height: 29px;
}

.d12 {
    float: right;
}

.d12 a {
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;
    margin-right: 28px;
}

.d7 {
    display: block;
    width: 230px;
    text-align: right;
}

.pc {
    background-color: #0099FF;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 90% bottom;
    margin-top: 45px;
    _margin-top: 0px;
}

.d {
    width: 993px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    padding-bottom: 100px;
}

.b {
    font-size: 30px;
    text-align: center;
    padding: 56px 0px 20px 0px;
}

.d2 {
    line-height: 43px;
    border-top: 1px solid #EEEEEE;
    padding: 28px 10px 16px 10px;
}

.d3 {
    clear: both;
}

.foot_info {
    font-size: 12px;
    text-align: center;
    color: #93D393;
    margin-top: 130px;
}

.foot_copy {
    color: #888;
    padding-bottom: 10px;
}

.p9 {
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
}

.p8 {
    padding: 9px;
    font-size: 16px;
    width: 93%;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #fafafa;
}

.p8:focus {
    border: #52A6EF 1px solid;
    box-shadow: 0 0 3px rgba(82, 166, 239, 0.8);
    outline: none;
    background: #fff;
}

.btn {
    height: 38px;
    width: 100%;
    background-color: #FFA300;
    color: #FFFFFF;
    font-size: 16px;
    font-family: \9ED1\4F53;
    border-radius: 4px;
    border: none;
}

.p7 {
    color: #BBBBBB;
    padding-right: 16px;
}

.btn:hover {
    background-color: #FFD360;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.btn:active {
    background-color: #FFA000;
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.ios {
    background-color: #F1F1F1;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
    color: #A5A5A5;
    margin-left: 17px;
}

.j {
    font-weight: 700;
}

.load {
    text-align: center;
    padding: 50px 0;
}

.load a {
    cursor: default;
    display: inline-block;
    line-height: initial;
}

.load a:focus {
    outline: 0;
}

.txt {
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #ff5b5b;
    padding: 6px 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
    transition: .2s;
    border: 1px solid #ff5b5b;
    border-radius: 4px;
}

.txt:hover {
    background-color: #ff3434;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26);
    border: 1px solid #ff3434;
}

.txt:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.17);
    background: #ff5b5b;
    transition: .0s;
    border: 1px solid #ff5b5b;
}

.txtc {
    margin: 0 26px;
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
    height: 8px;
    width: 8px
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
}

.load2 .loader,
.load2 .loader:before,
.load2 .loader:after {
    border-radius: 50%;
}

.load2 .loader:before,
.load2 .loader:after {
    position: absolute;
    content: '';
}

.load2 .loader:before {
    width: 16px;
    height: 32px;
    background: #fff;
    border-radius: 32px 0 0 32px;
    top: -1px;
    left: -1px;
    transform-origin: 16px 16px;
    animation: load2 2s infinite ease 1.5s;
}

.load2 .loader {
    font-size: 11px;
    text-indent: -99999em;
    margin: auto;
    position: relative;
    width: 30px;
    height: 30px;
    box-shadow: inset 0 0 0 4px #09f;
}

.load2 .loader:after {
    width: 16px;
    height: 32px;
    background: #fff;
    border-radius: 0 31px 31px 0;
    top: -1px;
    left: 15px;
    transform-origin: 0px 16px;
    animation: load2 2s infinite ease;
}

@keyframes load2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ifr {
    width: 100%;
    height: 45px;
    margin-top: -31px;
    position: relative;
    z-index: 9;
}

.ifr2 {
    z-index: 1;
    visibility: inherit;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.n_bot {
    text-align: center;
    padding: 3%;
}

#code {
    margin: auto;
    width: 300px;
    margin-top: 20px;
}

.wap-down{
    font-size: 15px;
    color: #7e8c8d;
}

.shenmin {
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 5px;
    border: 1px solid #faebcc;
    border-radius: 3px;
    font-size: 12px;
    clear: both;
    width: 400px;
    margin: auto;
    text-align: center;
    line-height: initial;
    margin-bottom: 10px;
}